In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv(r"C:\Users\divya\Downloads\156c0733-d225-4b76-a984-3ed5e19eb16d_83d04ac6-cb74-4a96-a06a-e0d5442aa126_customers.csv")

In [3]:
customers.head()

,customer_id,customer_email,customer_name,segment,country,city,state,postal_code,region
0,AA-10375,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
1,AA-10480,bancboy@icloud.com,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South
2,AB-10060,dmouse@outlook.com,Adam Bellavance,Home Office,United States,New York City,New York,10009,East
3,AB-10165,atmarks@live.com,Alan Barnes,Consumer,United States,Los Angeles,California,90036,West
4,AC-10420,cvrcek@me.com,Alyssa Crouse,Corporate,United States,San Francisco,California,94122,West

In [4]:
orders = pd.read_csv(r"C:\Users\divya\Downloads\419f8355-6271-44cc-a20b-fea8bd241428_83d04ac6-cb74-4a96-a06a-e0d5442aa126_orders.csv")

In [5]:
orders.head()

,order_id,customer_id,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,CA-2017-147039,AA-10375,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25
1,CA-2015-121391,AA-10375,VEN01,First Class,delivered,2017-11-24 23:32,2017-11-25 02:32,2017-11-30 20:53,2017-12-05 18:04,2017-12-08
2,CA-2014-128055,AA-10375,VEN01,Standard Class,delivered,2018-05-14 09:29,2018-05-14 09:54,2018-05-14 14:59,2018-05-23 21:06,2018-06-05
3,CA-2016-103982,AA-10375,VEN02,Standard Class,delivered,2018-04-09 16:47,2018-04-10 04:10,2018-04-10 22:27,2018-04-12 14:58,2018-04-19
4,CA-2014-138100,AA-10375,VEN02,Standard Class,delivered,2017-12-04 18:07,2017-12-06 02:50,2017-12-08 02:28,2017-12-18 23:44,2018-02-13

In [6]:
transactions = pd.read_csv(r"C:\Users\divya\Downloads\422ceab9-b775-4f4a-8a04-066006bf204b_83d04ac6-cb74-4a96-a06a-e0d5442aa126_transactions.csv")

In [7]:
transactions.head()

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments
0,CA-2016-152156,FUR-BO-10001798,261.9600,2,0.00,41.9136,NaN,8
1,CA-2016-152156,FUR-CH-10000454,731.9400,3,0.00,219.5820,NaN,2
2,CA-2016-138688,OFF-LA-10000240,14.6200,2,0.00,6.8714,NaN,10
3,US-2015-108966,FUR-TA-10000577,957.5775,5,0.45,-383.0310,NaN,6
4,US-2015-108966,OFF-ST-10000760,22.3680,2,0.20,2.5164,NaN,1

In [8]:
#list of orders id having high-value transactions (sales amount >150)

orderids = transactions[transactions['sales']>150].iloc[:, 0].to_list()

Creating unique identifier for table transactions :

In [9]:
transactions.head(2)

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments
0,CA-2016-152156,FUR-BO-10001798,261.96,2,0.0,41.9136,NaN,8
1,CA-2016-152156,FUR-CH-10000454,731.94,3,0.0,219.5820,NaN,2

In [10]:
transactions['unique_id'] = transactions['order_id']+transactions['product_id']

transactions.head(2)

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments,unique_id
0,CA-2016-152156,FUR-BO-10001798,261.96,2,0.0,41.9136,NaN,8,CA-2016-152156FUR-BO-10001798
1,CA-2016-152156,FUR-CH-10000454,731.94,3,0.0,219.5820,NaN,2,CA-2016-152156FUR-CH-10000454

In [11]:
#list of customers who placed orders having high-value transactions

m1 = pd.merge( left = customers , right = orders , on = "customer_id" , how = "inner")

m1.head(2)

,customer_id,customer_email,customer_name,segment,country,city,state,postal_code,region,order_id,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,AA-10375,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West,CA-2017-147039,VEN01,Standard Class,delivered,2018-06-19 17:33,2018-06-19 18:03,2018-06-20 10:46,2018-06-27 19:58,2018-07-25
1,AA-10375,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West,CA-2015-121391,VEN01,First Class,delivered,2017-11-24 23:32,2017-11-25 02:32,2017-11-30 20:53,2017-12-05 18:04,2017-12-08

In [12]:
merged = pd.merge(left = transactions , right = m1 , on = "order_id" , how = "left")

merged.head(2)

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments,unique_id,customer_id,...,postal_code,region,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,CA-2016-152156,FUR-BO-10001798,261.96,2,0.0,41.9136,NaN,8,CA-2016-152156FUR-BO-10001798,JB-15925,...,43017,East,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08,2018-01-31
1,CA-2016-152156,FUR-CH-10000454,731.94,3,0.0,219.5820,NaN,2,CA-2016-152156FUR-CH-10000454,JB-15925,...,43017,East,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08,2018-01-31

In [13]:
name_of_customers = merged[merged['sales']>150].iloc[: , -7].unique()

New Threshold Demand :

In [14]:
neworderids = transactions[transactions['sales']>250].iloc[:, 0].to_list()

In [15]:
new_name_of_customers = merged[merged['sales']>250].iloc[: , -7].unique()

In [16]:
merged.head(2)

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments,unique_id,customer_id,...,postal_code,region,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,CA-2016-152156,FUR-BO-10001798,261.96,2,0.0,41.9136,NaN,8,CA-2016-152156FUR-BO-10001798,JB-15925,...,43017,East,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08,2018-01-31
1,CA-2016-152156,FUR-CH-10000454,731.94,3,0.0,219.5820,NaN,2,CA-2016-152156FUR-CH-10000454,JB-15925,...,43017,East,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08,2018-01-31

In [17]:
merged.dtypes

order_id                          object
product_id                        object
sales                            float64
quantity                           int64
discount                         float64
profit                           float64
payment_type                      object
payment_installments               int64
unique_id                         object
customer_id                       object
customer_email                    object
customer_name                     object
segment                           object
country                           object
city                              object
state                             object
postal_code                        int64
region                            object
vendor_id                         object
ship_mode                         object
order_status                      object
order_purchase_date               object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
dtype: object

In [18]:
merged['order_delivered_customer_date'] = pd.to_datetime(merged['order_delivered_customer_date'])

In [19]:
merged.dtypes

order_id                                 object
product_id                               object
sales                                   float64
quantity                                  int64
discount                                float64
profit                                  float64
payment_type                             object
payment_installments                      int64
unique_id                                object
customer_id                              object
customer_email                           object
customer_name                            object
segment                                  object
country                                  object
city                                     object
state                                    object
postal_code                               int64
region                                   object
vendor_id                                object
ship_mode                                object
order_status                             object
order_purchase_date                      object
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date            object
dtype: object

#The number of transactions that are of high value in a given month. (Month and year-wise high-value transactions)

In [20]:
merged = merged[~merged['order_delivered_customer_date'].isna()]

In [21]:
merged['year'] = merged['order_delivered_customer_date'].dt.year

In [22]:
merged['month'] = merged['order_delivered_customer_date'].dt.month

In [23]:
merged.head(2)

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments,unique_id,customer_id,...,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,year,month
0,CA-2016-152156,FUR-BO-10001798,261.96,2,0.0,41.9136,NaN,8,CA-2016-152156FUR-BO-10001798,JB-15925,...,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08:00,2018-01-31,2018,1
1,CA-2016-152156,FUR-CH-10000454,731.94,3,0.0,219.5820,NaN,2,CA-2016-152156FUR-CH-10000454,JB-15925,...,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08:00,2018-01-31,2018,1

In [24]:
m250 = merged[merged['sales']>250]

m250.head(2)

,order_id,product_id,sales,quantity,discount,profit,payment_type,payment_installments,unique_id,customer_id,...,vendor_id,ship_mode,order_status,order_purchase_date,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,year,month
0,CA-2016-152156,FUR-BO-10001798,261.96,2,0.0,41.9136,NaN,8,CA-2016-152156FUR-BO-10001798,JB-15925,...,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08:00,2018-01-31,2018,1
1,CA-2016-152156,FUR-CH-10000454,731.94,3,0.0,219.5820,NaN,2,CA-2016-152156FUR-CH-10000454,JB-15925,...,VEN02,Second Class,delivered,2018-01-12 19:27,2018-01-12 19:37,2018-01-15 23:19,2018-01-17 22:08:00,2018-01-31,2018,1

In [25]:
m250.columns

Index(['order_id', 'product_id', 'sales', 'quantity', 'discount', 'profit',
       'payment_type', 'payment_installments', 'unique_id', 'customer_id',
       'customer_email', 'customer_name', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'vendor_id', 'ship_mode',
       'order_status', 'order_purchase_date', 'order_approved_at',
       'order_delivered_carrier_date', 'order_delivered_customer_date',
       'order_estimated_delivery_date', 'year', 'month'],
      dtype='object')

In [27]:
m250.groupby(['year','month'])['unique_id'].count()

year  month
2016  10         3
2017  1          8
      2         23
      3         44
      4         38
      5         77
      6         73
      7         59
      8        100
      9         91
      10        94
      11       115
      12       147
2018  1        134
      2        130
      3        163
      4        168
      5        154
      6        169
      7        121
      8        186
Name: unique_id, dtype: int64