In [1]:
import pandas as pd

In [2]:
customers = pd.read_csv(r"C:\Users\divya\Downloads\156c0733-d225-4b76-a984-3ed5e19eb16d_83d04ac6-cb74-4a96-a06a-e0d5442aa126_customers.csv")

In [3]:
customers.head()

,customer_id,customer_email,customer_name,segment,country,city,state,postal_code,region
0,AA-10375,stern@verizon.net,Allen Armold,Consumer,United States,Mesa,Arizona,85204,West
1,AA-10480,bancboy@icloud.com,Andrew Allen,Consumer,United States,Concord,North Carolina,28027,South
2,AB-10060,dmouse@outlook.com,Adam Bellavance,Home Office,United States,New York City,New York,10009,East
3,AB-10165,atmarks@live.com,Alan Barnes,Consumer,United States,Los Angeles,California,90036,West
4,AC-10420,cvrcek@me.com,Alyssa Crouse,Corporate,United States,San Francisco,California,94122,West

In [4]:
orders = pd.read_csv(r"C:\Users\divya\Downloads\419f8355-6271-44cc-a20b-fea8bd241428_83d04ac6-cb74-4a96-a06a-e0d5442aa126_orders.csv")